spring:
  application:
    name: ${SPRING_APP_NAME}
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    schema: ${DB_SCHEMA}

    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: ${HIBERNATE_DDL_AUTO}
    show-sql: ${HIBERNATE_SHOW_SQL}
    properties:
      hibernate:
        format_sql: true
        default_schema: rental

app:
  prefix: api
  jwt:
    secret: "${JWT_SECRET}"
    expiration: 3600000 # 1 jam (ms)




